<div class="link-box">
	<div class="input-group">
		<span class="input-group-addon">Name</span>
		<%= f.text_field :name, :class=>'form-control', :placeholder=>'Give this link a name'%>
	</div>
	<div class="input-group">
		<span class="input-group-addon">URL</span>
		<%= f.text_field :link, :class=>'form-control', :placeholder=>'Copy paste the url'%>
	</div>
</div>