<div class="col-md-6">
<div class="link-box" style="padding-bottom: 20px;margin-right: 10px">
	<div class="input-group">
		<span class="input-group-addon"><div class="form-field-80">Name</div></span>
		<%= f.text_field :name, :class=>'form-control', :placeholder=>'Give this link a name'%>
	</div>
	<div class="input-group">
		<span class="input-group-addon"><div class="form-field-80">URL</div></span>
		<%= f.text_field :link, :class=>'form-control', :placeholder=>'Copy paste the url'%>
	</div>
</div>
</div>