<%= form_tag(search_posts_path, method: "get") do %>
	  <div class="input-group">
      <input type="text" name="tags" class="form-control" placeholder="happy,excited,sad,angry,anxious">
      <span class="input-group-btn">
        <%= submit_tag("Search", class: "btn btn-default", style: "display: inline;")%>
      </span>
    </div>
<% end %>

