<div class="container">
	<div class="jumbotron jumbotron-background" style="margin-top:40px; text-align:center;">
		<h1 style="margin-bottom:20px;">New post</h1>
		<div class="row">
			<%= render 'form' %>
		</div>
		<%= link_to 'Back', posts_path %>
	</div>
</div>

